* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('font/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

section {
    height: 100vh;
    background-color: #0B57D0;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
}

.logo h2 {
    color: white;
}

.left {
    position: relative;
    right: 102px;
}

.left h1 {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    position: relative;
    color: white;
    width: 450px;
    letter-spacing: 0.01em;
}

.container .img-container {
    position: relative;
    display: flex;
    justify-content: center;
    top: 257px;
}

.container .bloc-text {
    display: flex;
    position: absolute;
    width: 1000px;
    left: 440px;
    top: 115px
}

.container .bloc-text .right {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 340px;
    top: 3px;
}

.container .bloc-text .right i {
    margin-left: 2px;
}

.container .bloc-text .right p {
    color: white;
    position: relative;
    font-size: 20px;
    font-family: 'robotoregular';
    width: 400px;
}

.container .bloc-text .right .button a {
    background-color: #4b7bec;
    color: white;
    padding: 20px 30px;
    border-radius: 6px;
    position: relative;
    top: 60px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}