* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('font/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('font/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('font/Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1350px) {
    .right i {
        display: none;
    }
}

section {
    height: 100vh;
    background-color: #0B57D0;
}

header nav {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 50vh;
}

.bloc-text {
    margin-top: 35px;
}

.right-part a {
    color: white;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-size: 0.95rem;
    letter-spacing: 0.03em;
}

.left p {
    font-family: 'robotobold';
    font-size: 60px;
    color: white;
    width: 600px;
}

.right p {
    font-family: 'robotoregular';
    font-size: 1.3rem;
    color: white;
    margin-bottom: 40px;
}

.right i {
    color: white;
    font-size: 1.5rem;
    margin-left: 4px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.button a {
    color: white;
    padding: 20px 50px;
    background: #248AFF;
    border-radius: 6px;
    font-family: 'robotoregular';
    font-size: 18px;
}

.bloc-img {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-top: 41px;
}